<div class="col-md-4">
  <div class="alert alert-dismissible alert-info">
    <i class="fa fa-line-chart fa-3x"></i>
  </div>
</div>

<div class="col-md-4">
  <div class="alert alert-dismissible alert-success">
    <i class="fa fa-line-chart fa-3x"></i>
  </div>
</div>
<div class="col-md-4">
  <div class="alert alert-dismissible alert-warning">
    <i class="fa fa-line-chart fa-3x"></i>
  </div>
</div>


<%= render 'statistics' %>
