<div class="col-md-2">
</div>
<div class="col-md-8">
  <h1>Ürünü Düzenle</h1>
  <%= render 'form' %>
  <%= link_to @product do%>
    <button class="btn btn-success ">Show</button>
  <% end %>
</div>
<div class="col-md-2">
</div>
